<!doctype html>
<!--
        The7 by TEMPLATE STOCK
        templatestock.co @templatestock
        Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>The7 Free HTML5 Responsive Template | Template Stock</title>

        <!-- CSS -->
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/simplegrid.css">
        <link rel="stylesheet" href="css/icomoon.css">
        <link rel="stylesheet" href="css/lightcase.css">
        <link rel="stylesheet" href="js/owl-carousel/owl.carousel.css" />
        <link rel="stylesheet" href="js/owl-carousel/owl.theme.css" />
        <link rel="stylesheet" href="js/owl-carousel/owl.transitions.css" />
        <link rel="stylesheet" href="style.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body id="home">
        <!-- Header -->
        <header id="top-header" class="header-home">
            <div class="grid">
                <div class="col-1-1">
                    <div class="content">

                        <a href="#0">LWY HR Management System</a>

                        <nav class="navigation">
                            <input type="checkbox" id="nav-button">
                            <label for="nav-button" onclick></label>
                            <ul class="nav-container">
                                <li><a href="index.html" class="current">Home</a></li>
                                <li><a href="#services">Employee details</a></li>
                                <li><a href="#work">Attendance</a></li>
                                <li><a href="#blog">Payroll</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Header -->

        <!-- Parallax Section -->
        <div class="parallax-section parallax1">
            <div class="grid grid-pad">
                <div class="col-1-1">
                    <div class="content content-header" >
                        <h2>Welcome Admin!!</h2>
                        <p>LWY Human Resource System brings you convenience</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Parallax Section -->

        <!-- CurveUp -->
        <svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
        </svg>

        <!-- Services Section -->
        <div class="wrap services-wrap" id="services">
            <section class="grid grid-pad services">
                <form action="">
                    <input type="search" placeholder="Eg. Lee Xinci"> <input type="submit" value="Search" align="right" class="btn btn-light">
                   
                </form>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
        <!-- End Services Section -->



        <!-- Footer -->
        <footer class="wrap">
            <div class="grid grid-pad" >
                <div class="col-1-4">
                    <div class="content">
                        <div class="footer-widget">
                            <h3>About</h3>
                            <div class="textwidget">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p><br>
                                <p>Et dolore magna aliquyam erat sed diam voluptua.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4" >
                    <div class="content">
                        <div class="footer-widget">
                            <h3>Recent Posts</h3>
                            <div class="fwidget">
                                <ul>
                                    <li><a href="#0">Suspendisse nec lectus non</a></li>
                                    <li><a href="#0">Phasellus euismod pulvinar</a></li>
                                    <li><a href="#0">Aliquam erat volutpat</a></li>
                                    <li><a href="#0">Phasellus euismod pulvinar</a></li>
                                    <li><a href="#0">Aliquam erat volutpat</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4" >
                    <div class="content">
                        <div class="footer-widget">
                            <h3>More info</h3>
                            <div class="textwidget">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                                <br>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4" >
                    <div class="content">
                        <div class="footer-widget">
                            <h3>Flickr Feed</h3>
                            <div class="flickr-widget">
                                <ul class="flickr-list">
                                    <li><a href="#0"><img src="images/flickr-widget/flickr1.jpg" alt=""></a></li>
                                    <li><a href="#0"><img src="images/flickr-widget/flickr2.jpg" alt=""></a></li>
                                    <li><a href="#0"><img src="images/flickr-widget/flickr3.jpg" alt=""></a></li>
                                    <li><a href="#0"><img src="images/flickr-widget/flickr4.jpg" alt=""></a></li>
                                    <li><a href="#0"><img src="images/flickr-widget/flickr5.jpg" alt=""></a></li>
                                    <li><a href="#0"><img src="images/flickr-widget/flickr6.jpg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social-footer">
                <div class="grid grid-pad">
                    <div class="col-1-1" >
                        <div class="content">
                            <div class="social-set">
                                <a  href="#0"><i class="icon-facebook"></i></a>
                                <a  href="#0"><i class="icon-twitter"></i></a>
                                <a  href="#0"><i class="icon-linkedin2"></i></a>
                                <a  href="#0"><i class="icon-dribbble4"></i></a>
                                <a  href="#0"><i class="icon-instagram"></i></a>
                            </div>
                            <p class="source-org copyright">© 2016 | All Rights Reserved Created By <a href="http://templatestock.co">Template Stock</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

        <div class="loader-overlay">
            <div class="loader">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>

        <!-- JS -->
        <script src="js/jquery.js"></script>
        <script src="js/main.js"></script>
        <script src="js/mixitup.js"></script>
        <script src="js/smoothscroll.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/owl-carousel/owl.carousel.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/lightcase.min.js"></script>
    </body>
</html>